/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* my code here */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

a {
  font-style: normal;
  text-decoration: none;
  display: block;
}

button {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f3f5f9;
}

/* main section */
.section {
  padding: 30px 0;
  background-color: lightgray;
}

.container {
  width: 480px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  width: 32px;
  height: 32px;
}

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  background-color: aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page__header {
  position: relative;
  padding: 15px 0;
}

.menu_btn {
  padding: 5px;
  margin: 0;
  border: none;
  background-color: transparent;
  -webkit-transition: fill 200ms ease-out, outline-color 2000ms ease-out;
  transition: fill 200ms ease-out, outline-color 2000ms ease-out;
}

.menu_btn:hover,
.menu_btn:focus {
  outline: 1px solid blue;
  fill: blue;
}

.btn-close {
  margin-left: auto;
}

.page-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.page-menu {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  background-color: burlywood;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 1000ms ease;
  transition: -webkit-transform 1000ms ease;
  transition: transform 1000ms ease;
  transition: transform 1000ms ease, -webkit-transform 1000ms ease;
}

.page-menu--hidden {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.page-menu__list {
  margin: auto 0;
}

.foxie__btn {
  width: 45px;
  height: 45px;
}

/* footer */
.footer {
  width: 100%;
  height: 10%;
  background-color: #ffff7f;
}
/*# sourceMappingURL=main.css.map */